/* main page - CSS */
#tag {
    display: flex;
    margin-top: 50px;
    width: 970px;
    height: 56px;
    padding: 30px 40px;
    gap: 16px 83px;
    flex-wrap: wrap;
    border: 1px solid var(--stroke-stroke-2, #E2E2E2);
}

.tagitem {
    display: flex;
    align-items: flex-start;
    width: 180px;
    height: 20px;
    align-self: stretch;
    color: var(--font-font-1, #333);

    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -1px;
}

.tagitem:hover {
    color: var(--font-font-1, #5E0080);
}

#body {
    width: 1050px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 267px 783px;
    grid-template-rows: 40px 558px;
}

#head {
    width: 220px;
    margin-right: 47px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--stroke-stroke-2, #E2E2E2);
    color: var(--font-font-1, #333);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

#reset_img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 5px;
    filter: invert(92%) sepia(66%) saturate(2%) hue-rotate(292deg) 
        brightness(90%) contrast(93%);
}

#reset {
    color: var(--font-font-3, #999999);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

#head1 {
    color: var(--font-font-3, #DDD);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

#cat {
    display: flex;
    width: 220px;
    height: 52px;
    margin-right: 47px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--font-font-1, #333);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

#up_img {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    filter: invert(64%) sepia(2%) saturate(11%) hue-rotate(24deg) 
        brightness(94%) contrast(93%);
}

#frame8 label{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    gap: 5px;
    color: var(--font-font-1, #333);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
}

.product_num{color: var(--font-font-3, #DDD);}

#sorting {
    display: flex;
    font-size: 15px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.sorting_btn {
    color: var(--font-font-1, #999);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
}

.item:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item:nth-child(3) {
    grid-row: 1/3;
    grid-column: 2/3;
}

.item:nth-child(4) {
    grid-row: 2/3;
    grid-column: 2/3;
}

#item_list{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product{
    display: flex;
    width:249px;
    flex-direction: column;
    gap: 6px;
}

.product:nth-child(-n+3) {
    display: block;
}

.product_img{
    width: 249px !important; 
    height: 320px !important; 
    margin-top: 32px;
}


.shopping_button{
    display: flex;
    justify-content: center;
    height: 36px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid var(--stroke-stroke-2, #E2E2E2);
    color: var(--font-font-1, #333);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

#btn {
    color: var(--font-font-1, #333);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

#cart_img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 4px;
}

#delivery_company{
    color: var(--font-font2, #999);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -1px;
    margin-bottom: 4px;
}
#product_name{
    color: var(--font-font-1, #333333);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

#product_description{
    color: var(--font-font2, #999);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    margin-top: 4px;
}

#origin_price{
    color: var(--font-font2, #999);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: line-through;
    margin-top: 8px;
    margin-bottom: 4px;
}

#discount_rate{
    color: var(--point-red, #FA622F);

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    display: inline-block;
}
#discount_price{
    color: var(--font-font-1, #333);

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
}

#filter{
    display: none;
    width: 751px;
    padding: 20px 16px 18px 16px;
    gap: 16px;
    border: 1px solid var(--stroke-stroke-2, #E2E2E2);
    align-items: center;
    align-self: stretch;
}

#skin_text{
    color:#5E0080;
    display:none;
}
#luxury_text{
    color:#5E0080;
    display:none;
}
#snack_text{
    color:#5E0080;
    display:none;
}

.close_btn{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}