{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>
<div class="screen">
  <div class="product-detail-page">
    <!-- 상품 정보 -->
    <section class="product-detail">
      <img class="product-image" src="{{product.image_url}}" />
      <!-- 상단정보 -->
      <seciton
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      >
        <div class="product-detail-top">
          <div class="H3 text-font2" style="padding-bottom: 0.5rem">
            셋별배송
          </div>
          <p class="H1 text-font1">{{product.name}}</p>

          <section class="product-detail-price">
            <div class="H2 point-red">{{product.discount_rate}}%</div>
            <div class="H2 text-font1">{{product.discount_price}} 원</div>
          </section>

          <img class="line" />

          <section class="product-detail-section">
            <div class="B2-bold text-font2" style="width: 5rem">안내 사항</div>
            <p class="B2 text-font1">{{product.notice}}</p>
          </section>

          <img class="line" />

          <section class="product-detail-section">
            <div class="B2-bold text-font2" style="width: 5rem">상품 선택</div>

            <div class="product-detail-section-box">
              <p class="B2 text-font1">{{product.name}}</p>

              <!-- 플러스 마이너스 버튼 -->
              <span class="product-detail-section-count" style="width: 80px">
                <div class="B2-bold" style="width: 1.25rem; text-align: center">
                  -
                </div>
                <div class="B2-bold" style="width: 2rem; text-align: center">
                  2
                </div>
                <div class="B2-bold" style="width: 1.25rem; text-align: center">
                  +
                </div>
              </span>
            </div>
          </section>
          <img class="line" />
        </div>
        <!-- 상단 정보 -->

        <!-- 하단 정보 -->
        <div class="product-detail-bottom">
          <div class="product-detail-price">
            <div class="B2">총 상품 금액 :</div>
            <div class="H2">158,000 원</div>
          </div>

          <button class="product-detail-button Btn">구매하기</button>
        </div>
      </seciton>
      <!-- 하단 정보 -->
    </section>
    <!-- 상품 정보 -->

    <div class="product-comment">
      <div class="H1 text-font1" style="padding-bottom: 1.875rem">상품후기</div>
        <form action = "create_comment/" method = "POST">
          {% csrf_token %}
          <select name="star">
            <option value="별점">별점</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input id="text_area" type="textarea" name="content">
          <input id="button_click" disabled type="submit" value="등록"> 
        </form> 
    </div>
  </div>
</div>
<div class="screen">
  <div
    style="
      width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
    {% for comment in comments %}
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}
  </div>
</div>
<script>
  const button_click=document.getElementById("button_click")
  const text_input=document.getElementById("text_area")

  text_area.addEventListener("input", () => {
    if(text_input.value === "") {
        button_click.disabled = true;
        button_click.style.backgroundColor = "#dddddd";
    }
    else {
        button_click.disabled = false;
        button_click.style.backgroundColor = "#5e0080";
    }
});
</script>
{% endblock %}

<input type="text" name="content" />
<input type="submit" value="submit" />

